<nav class="menu">

    <img src="../static/images/logo_site.png" onclick="window.location.href='/';"/>

    <div class="vide_header"></div>

    <div class="bouton" onclick="window.location.href='/voiture/show';">
        <span>Voiture</span>
    </div>
    <div class="bouton" onclick="window.location.href='/categorie/show';">
        <span>Catégorie</span>
    </div>

    <div class="bouton" onclick="window.location.href='/etat/show';">
        <span>État</span>
    </div>

    <div class="bouton" onclick="window.location.href='/voiture/filtre';">
        <span>Filtre</span>
    </div>

</nav>